@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    color: black;
}

.background {
    background: url(assts/slider/Slidersss.png);
    background-repeat: no-repeat;
    background-size: 100% 370px;
    position: relative;
}


body {

    background-color: white;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.info {
    background: linear-gradient(90deg, rgba(104, 43, 3, 1) 0%, rgba(202, 107, 41, 1) 100%);
    border-bottom: 1px solid gray;
}

.info-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-top: 18px;
    padding-bottom: 18px;
    height: 100%;
}

ul.info-list strong {
    color: white;
}

ul.info-list li {
    color: white;
    font-size: 13px;
    padding-right: 10px;
}

ul.info-list a {
    color: white;
}

ul.info-list i {
    font-size: 15px;
    color: white;
    padding-right: 5px;
    vertical-align: middle;
}

.fb-insta {
    display: flex;
    align-items: center;
    justify-content: right;
    list-style: none;
    padding-top: 18px;
}

.icon-foter {
    display: flex;
    justify-content: center;
}

.icon-foter a {
    padding-right: 20px;
}

.icon-foter i {
    font-size: 25px;
    color: black;
}

.icon-foter i:hover {
    color: #C3692B;
}

ul.fb-insta li {
    margin-right: 25px;
    font-size: 20px;
}

ul.fb-insta li i {
    color: white;
}

ul.fb-insta li i:hover {
    color: black;
}

nav {
    border-bottom: 1px solid rgb(214, 209, 209);
}

nav img {
    margin-left: 10px;
    width: 190px;
    height: 40px;
}

nav a {
    margin-right: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: 14px;
    color: black !important;
}

#home {
    color: #C3692B;
}

nav a:hover {
    color: #C3692B !important;
}

.allproducts {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f6f6f6;
}

.card-products {
    background-color: #f6f6f6;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-products a {
    padding-left: 2px;
    font-weight: 500;
}

.vbtn {
    margin-top: 7%;
    padding-top: 45px;
    height: 130px;
    background: linear-gradient(90deg, rgba(104, 43, 3, 1) 0%, rgba(202, 107, 41, 1) 100%);
    text-align: center;

}

.buttuon-view {
    border-radius: 20px;
    border-color: white;
    color: black;
    background-color: white;
    width: 200px;
    font-weight: 500;
}

.buttuon-view:hover {
    color: white;
    background-color: #7A3201;
    border: none;
    outline: none;
}

.buttuon-read {
    border-radius: 20px;
    color: #7A3201;
    border-color: #7A3201;
    background-color: white;
    width: 130px;
    /* font-size: 12px; */
    font-weight: 500;
    margin-top: 10px;
}

.buttuon-read:hover {
    color: white;
    background-color: #7A3201;
    border: none;
    outline: none;
}

.card-ftr {
    background-color: white;
    padding-top: 80px;
    padding-bottom: 20px;
    font-size: 12px;
}

.card-ftr img {
    width: 270px;
}

.card-ftr a {
    color: black;
}

.bordr {
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(53, 48, 48);
}

.adrs {
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(53, 48, 48);
}

.color-contact p {
    color: black;
}

.color-contact i {
    color: #C3692B;
    font-size: 14px;
}

/* about  */

.info-color {
    background-color: white;
    opacity: 0.8;
}

.aboutus-set {
    color: black;
    padding-left: 50px;
    margin-top: 270px;
    text-transform: uppercase;
}

.ourproduct-set {
    padding-left: 50px;
    margin-top: 270px;
    text-transform: uppercase;
}

.ourproduct-set a {
    font-weight: 500;
    color: black;
    /* text-decoration: none; */
}

.aboutus-set a {
    font-weight: 500;
    color: black;
    /* text-decoration: none; */
}

.about-us p {
    font-size: 21px;
}

.about-us img {
    /* padding-top: 24px; */
    height: 350px;
    width: 400px;
}


.about-detail {
    padding-top: 3px;
    background-color: #fff;
}

.about-detail p {
    padding-top: 20px;
}

.about-characteristic {
    background-color: white;
    padding-top: 75px;
    text-align: center;
}

.about-characteristic img {
    width: 100%;

}

/* OURPRODUCT   */
.padding-product {
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-copy {
    background-color: #7A3201;
}

.footer-copyright {
    color: white;
    font-size: 13px;
}

.footer-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-top: 30px;
    height: 30px;
}

ul.footer-list a {
    color: white;
}

/* contactus  */
.contactus-set {
    margin-top: 20px;
}

.contact-us-set {
    padding-left: 50px;
    margin-top: 270px;
    text-transform: uppercase;
}

.contact-us-set a {
    font-weight: 500;
    color: black;
    /* text-decoration: none; */
}

.contactus-set input {
    outline: none;
    /* background-color:brown ; */
    border-radius: 5px;
    height: 45px;
    margin-top: 30px;
    text-align: center;
}

.contactus-set input:hover {
    border-color: #C3692B;
    /* background-color: #fff; */
}

::placeholder {
    color: black;
}

.submit-button {
    width: 135px;
    border-radius: 22px !important;
}

.submit-button:hover {
    background-color: #fff;
    color: #C3692B !important;
    font-size: 16px !important;
    font-weight: 600 !important;
}

.contact-information a {
    color: black;
}

.charactristics .properties {
    text-align: start;
    font-size: 19px;
    padding-left: 83px !important;
}


.charactristics .properties li ul {
    margin-left: 20px;
}

.more-details h1 {
    text-align: center;
}

.more-details {
    margin-top: 50px;
}

.details-about ul {
    padding-top: 20px;
    padding-bottom: 20px;
}

.details-about {
    width: 60%;
}

.chrctr-seting {
    font-size: 19px;
    padding-top: 40px;
    width: 50%;
}

@media (min-width: 1440px) {
    .charactristics .properties {
        text-align: start !important;
        font-size: 22px !important;
        padding-left: 83px !important;
        padding-top: 20px !important;
    }

    nav img {
        margin-left: 60px !important;
    }

    nav a {
        margin-right: 50px !important;
        letter-spacing: 3px !important;
        font-weight: 800 !important;
        font-size: 15px !important;
    }
}

@media (max-width: 1440px) {

    .contact-us-set {
        padding-left: 105px !important;
    }

    .contactus-set {
        margin-top: 65px !important;
    }

    .icon-foter {
        display: none !important;
    }

    .card-ftr {
        padding-top: 115px !important;
    }

    .background {
        background-size: 100% 340px !important;
    }

    .ourproduct-set {
        padding-left: 112px !important;
    }

    .aboutus-set {
        padding-left: 112px !important;
    }

    .about-detail {
        padding-top: 42px !important;
    }

    .info-list {
        letter-spacing: 1px !important;
        justify-content: left !important;
        padding-left: 100px !important;
    }

    .fb-insta {
        justify-content: left !important;
        padding-left: 50px !important;
    }

    .small-screen {
        padding-top: 25px;
        padding-bottom: 10px;
    }

    .set-h {
        margin-top: 50px;
    }

}


@media (max-width: 1024px) {

    .chrctr-seting {
        font-size: 13px !important;
    }

    .charactristics .properties {
        text-align: start !important;
        font-size: 13px !important;
        padding-left: 62px !important;
    }

    .fb-insta {
        justify-content: left !important;
        padding-left: 35px !important;
    }

    .icon-foter {
        display: none !important;
    }

    .about-detail p {
        padding-top: 8px !important;
    }

    .card {
        height: 220px !important;
        width: 220px !important;
    }

    iframe {
        width: 325px !important;
    }

    .aboutus-set {
        padding-left: 80px !important;
    }

    .ourproduct-set {
        padding-left: 69px !important;
    }

    .contact-us-set {
        margin-top: 270px !important;
        padding-left: 70px !important;
    }

    .contactus-set {
        margin-top: 90px !important;
    }

    .background {
        background-size: 100% 340px !important;
    }

    .charactristics .properties {
        text-align: start !important;
    }



}

@media (max-width: 768px) {


    .chrctr-seting {
        font-size: 11px;
    }

    .set-h {
        margin-top: -10px !important;
    }

    .card-products {
        padding-top: 20px !important;
        padding-bottom: 10px !important;
    }

    .first-info {
        display: none;
    }

    .navbar-collapse {
        background-color: white;
        position: absolute;
        top: 70px;
        /* Adjust the top position as per your layout */
        width: 100%;
        text-align: center;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    }

    .navbar {
        text-align: center;
    }

    .navbar-nav {
        display: block;
    }

    .nav-item {
        display: block !important;
        margin-bottom: 10px;
    }

    .navbar-toggler {
        display: block;
    }

    .carousel-item img {
        height: auto;
        /* Adjust the height as necessary */
        width: 100%;
    }

    .welcome h2 {
        text-align: center;
    }

    .aboutus {
        text-align: center;
    }

    .aboutus p {
        text-align: justify;
    }

    .allproducts .card-products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .padding-product .card-products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .allproducts .card-products .col-md-3 {
        flex: 0 0 50%;
    }

    .padding-product .card-products .col-md-3 {
        flex: 0 0 50%;
    }

    .foter {
        text-align: center;
    }

    .footer-copy {
        text-align: center;
    }

    .card-products img {
        width: 180px;
        height: 200px;
    }

    .aboutus-set p {
        font-size: 12px;
    }

    .welcome,
    .charactristics {
        padding: 2px;
    }

    .footer-list {
        text-align: center;
    }

    .card-ftr img {
        width: 190px;
    }

    .card-products img {
        max-width: 100%;
    }

    .card-ftr .col-md-4 h4 {
        margin-bottom: 20px;
    }

    .buttuon-read {
        margin-bottom: 20px;
    }

    .background-height {
        height: 265px;
    }

    .contact-information {
        text-align: center;
    }

    input {
        width: 210px;
    }

    iframe {
        width: 238px !important;
        height: 300px !important;
    }

    .submit-button {
        margin-bottom: 20px;
    }

    .popup-content img {
        margin: auto !important;
        width: 200px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }

    .card {
        height: 170px !important;
        width: 160px !important;
    }

    .about-us p {
        font-size: 15px;
        padding-top: 10px;
    }

    .about-us img {
        width: 100%;
        height: 290px;
    }

    #carouselExampleControls {
        margin-bottom: 0px !important;
    }

    .modal-body {
        display: block !important;
    }

    .modal-body p {
        font-size: 17px !important;
        text-align: center;
    }

    .charactristics .properties {
        font-size: 11px !important;
        padding-left: 48px !important;
    }

    .charactristics h2 {
        font-size: 20px !important;
    }

    .properties-below {
        width: 53% !important;
        margin-left: 0px !important;
    }

    .card-products .card-content h2 {
        font-size: 25px !important;
        margin: 15px !important;
        color: white !important;
    }

    .card-products .card-content h3 {
        padding-left: 10px !important;
        font-size: 15px !important;
        text-transform: uppercase !important;
        color: white !important;
    }

    .background {
        background-size: 100% 240px !important;
    }

    .aboutus-set {
        padding-left: 50px !important;
        margin-top: 175px !important;
    }

    .icon-foter {
        display: block !important;
    }


}

@media (max-width: 426px) {


    .chrctr-seting {
        font-size: 16px !important;
        width: 82% !important;
        padding-top: 0px !important;
    }

    .set-h {
        margin-top: -30px !important;
    }

    .card-products {
        padding-top: 20px !important;
        padding-bottom: 0px !important;
    }

    .small-screen {
        padding-bottom: 18px;
        padding-top: 25px;
    }

    .charactristics .properties {
        font-size: 16px !important;
        padding-left: 0px !important;
    }

    .charactristics h2 {
        padding-top: 20px !important;
        font-size: 22px !important;
    }

    .characteristic-set .properties {
        padding-left: 22px !important;
    }

    .charactristics h2 {
        font-size: 28px !important;
    }

    .details-about {
        margin-top: -60px !important;
    }


    .popup-content img {
        margin: auto !important;
        width: 180px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }

    .padding-product {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .card {
        height: 180px !important;
        width: 180px !important;
        margin-bottom: 10px !important;
    }

    .aboutus img {
        width: 100% !important;
        height: 100% !important;
    }

    #popupImage {
        width: 100%;
        height: 100%;
        margin-left: 0px !important;
    }

    .modal-body p {
        font-size: 16px !important;
    }

    .background {
        background-size: 100% 143px !important;
    }

    .aboutus-set {
        color: white !important;
        margin-top: 105px !important;
    }

    .aboutus-set p {
        display: none !important;
        color: white !important;
    }

    .aboutus-set h3 {
        color: white !important;
        font-size: 18px !important;
    }

    .contactus-set {
        margin-top: -30px !important;
    }

    form {
        padding-left: 14px !important;
    }

    .location {
        margin-left: 15px !important;
    }

    iframe {
        width: 345px !important;
        height: 310px !important;
    }

    .properties {
        font-size: 12px;
        width: 100%;
    }

    .space-set {
        margin-top: -70px !important;
    }

    .padding-product .card-products img {
        display: block;
        margin: 0 auto;
    }

    .center {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .padding-gate {
        padding-top: 30px;
    }

    .main-gate {
        margin-top: -115px;
    }

}

@media (max-width:376px) {

    .set-h {
        margin-top: -45px !important;
    }

    .main-gate {
        margin-top: -115px !important;
    }

    .details-about {
        margin-top: -80px !important;
    }

    .card {
        height: 225px !important;
        width: 225px !important;
        margin-bottom: 20px !important;
    }

    .background {
        background-size: 100% 130px !important;
    }

    .aboutus-set {
        color: white !important;
        margin-top: 95px !important;
    }

    .aboutus-set a {
        color: white !important;
    }

    .aboutus-set p {
        color: white !important;
    }

    .aboutus-set h3 {
        font-size: 17px !important;
        color: white !important;
    }

    /* .center {
        padding-left: 70px !important;
    } */

    .contactus-set {
        margin-top: -50px !important;
    }

    .card-products {
        padding-top: 20px !important;
    }

    form {
        padding-left: 14px !important;
    }

    .location {
        margin-left: 20px !important;
    }

    iframe {
        width: 285px !important;
        height: 300px !important;
    }

    .about-us img {
        width: 100% !important;
        height: 270px !important;
    }

    .space-set {
        margin-top: -80px !important;
    }

    .welcome h2 {
        font-size: 27px !important;
    }



}

@media (max-width: 320px) {


    .chrctr-seting {
        font-size: 14px !important;
        width: 79% !important;
    }

    .padding-product .card-products img {
        display: block;
        margin: 0 auto;
    }

    .small-screen {
        padding-top: 25px;
    }

    .set-h {
        margin-top: -56px !important;
    }


    .small-pading {
        padding-top: 5px !important;
    }

    .charactristics h2 {
        font-size: 24px !important;
    }

    .charactristics .properties {
        font-size: 14px !important;
    }

    .welcome h2 {
        font-size: 20px !important;
        margin-top: 75px !important;
    }

    .details-about {
        margin-top: -115px !important;
    }

    .padding-product .card-products .col-md-3 {
        flex: 100%;
        padding-left: 50px;
    }

    .background {
        background-size: 100% 114px !important;
    }

    .space-set {
        margin-top: -90px !important;
    }

    .card-products {
        padding-top: 20px !important;
    }

    .about-us img {
        width: 100% !important;
        height: 230px !important;
    }

    .card-ftr .col-md-4 h4 {
        margin-top: 10px;
    }

    .aboutus-set {
        color: white !important;
        margin-top: 85px !important;
    }

    .aboutus-set a {
        color: white !important;
    }

    .aboutus-set h3 {
        color: white !important;
        font-size: 15px !important;
    }

    .aboutus-set p {
        color: white !important;
        font-size: 10px;
    }

    iframe {
        width: 100%;
        height: 250px;
    }

    .contact-information {
        margin-top: 20px;
    }

    .popup-content img {
        margin: auto !important;
        width: 150px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }

    .location {
        margin-left: -7px !important;
    }

    .main-gate {
        margin-top: -140px !important;
    }

}

.gate {
    padding-top: 80px;
}

.gate img {
    width: 100%;
}

/* popup css */
.popup-link {
    display: flex;
    flex-wrap: wrap;
}

.popup-link a {
    background: #333;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    margin: 20px;
    text-decoration: none;
}

.popup-container {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: scale(1.3);
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 17, 17, 0.61);
    display: flex;
    align-items: center;
}

.popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0px 5px;
    border: 1px solid #888;
    width: 30%;
}

.popup-content p {
    font-size: 17px;
    padding: 10px;
    line-height: 20px;
}

.popup-content a.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.popup-content a.close:hover {
    color: #333;
}

.popup-content span:hover,
.popup-content span:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.popup-container:target {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.popup-container h3 {
    margin: 10px;
    text-align: center;
    font-family: var(--contentfont);
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 15px;
}

.popup-content img {
    margin: auto;
    width: 300px;
    object-fit: cover;
    padding-top: 15px;
    padding-bottom: 15px;
}


/* IMage Hover Effect CSS */

.card {
    height: 270px;
    width: 270px;
    padding: 20px;
    color: white;
    background-size: 100% 100%;
    display: flex;
    position: relative;
    cursor: pointer;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.card-products .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(31, 31, 31, 0.85);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease;
}

.card-products .card-content * {
    transform: translateY(-70%);
    transition: all 0.3s ease;
    opacity: 0;
}

.card-products .card-content h2 {
    font-size: 35px;
    margin: 15px;
    color: white;
}

.card-products .card-content h3 {
    font-size: 23px;
    text-transform: uppercase;
    color: white;
}

.card-products .card:hover .card-content {
    opacity: 1;
}

.card-products .card:hover .card-content * {
    opacity: 1;
    transform: translateY(0);
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown {
    padding-top: 6px;
}

.dropdown-item:focus {
    background-color: white;
}

.m3 {
    transition: 4s;
}